# Exclude frontend files from language stats
*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.jfif linguist-detectable=false
*.webp linguist-detectable=false
*.jpg linguist-detectable=false
*.png linguist-detectable=false
*.json linguist-detectable=false